.layout {
  background-image: url(/images/mojave-20.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  background-position: top;
}

.layout__rectange {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.15));
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  min-height: 65vh;
  height: 50rem;
  width: 40rem;
  box-shadow: -20px 8px 40px rgba(255, 255, 255, 0.20);
  transition: all .8s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout__rectange:hover {
  box-shadow: -20px 8px 40px rgba(255, 255, 255, 0.40);
  transition: all .8s;
}

.layout__rectange:hover .layout__logo, .layout__rectange.hover .layout__logo { animation: rotation 2s infinite linear; }

.layout__logo {
  animation: rotation 6s infinite linear;
  width: 25%;
  margin: 2rem;
  transition: all 5s;
}

.logo-container {
  background-color: rgba(146, 146, 146, 0.527);
  border-radius: 1rem;
  position: relative;
  margin-top: 2px;
  align-self: flex-end;
  align-content: flex-end;
}

.table {
  margin-top: 3rem;
  width: 100%;

}

.button-table {
  width: 100%;
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 3rem;
}
