@mixin button-op {
  background: $op-color;
  transition: all .2s;
  
  &:hover {
    background: $op-color-dark;
    transition: all .2s;
  }
  &:active {
    transform: translateY(2px);
  }
}

@mixin container {
  padding: 5px;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary-gradient;
  text-align: center;
}