$primary-gradient: linear-gradient(to right, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.15));

$op-color: linear-gradient(to right, rgb(241, 157, 54), rgba(241, 157, 54, 0.65));
$op-color-dark: linear-gradient(to right, rgb(207, 134, 45), rgba(201, 131, 46, 0.15));

$desktop-breakpoint: 45rem;