@import "abstracts/variables";
@import "abstracts/mixins";

@import "animations/logo";

@import "base/base";

@import "layout/layout";
@import "components/buttons";
@import "components/input";


@import "typography/text";

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}